.navbar {
  background-color: #E0EEEE;
}

.navbar a {
  font-family: "Arial", sans-serif;
  color: #0F2E3D;
  font-size: 36px;
}

.navbar a:hover {
  background-color: #C1CDCD;
}

.custom-margins {
  margin-left: 300px;
  margin-right: 300px;
}